# Gradle build directories
/build/
/out/

# Gradle wrapper
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA files
.idea

# Eclipse files
.classpath
.project
.settings/

# Compiled Java class files
*.class

# Log files
*.log

# Dependency lock files
dependency.lock

# IDE-specific files
*.iml
*.ipr
*.iws

# Mac-specific files
.DS_Store

# Gradle cache
.gradle/
